# Python virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Environment variables
.env

# Logs
*.log

# Test and coverage
htmlcov/
.coverage
coverage.xml

# Misc
*.sqlite3
*.db

# Node modules (if any)
node_modules/
